

[Unit]
Description=OCI Distribution Registry
Documentation=https://zotregistry.io/
After=network.target auditd.service local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/zot serve /etc/zot/config.json
Restart=on-failure
User={{zot_user}}
Group={{zot_group}}
LimitNOFILE=500000
MemoryHigh=30G
MemoryMax=32G

[Install]
WantedBy=multi-user.target
